@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #f8f8f8;
  color: #222;
  font-family: 'inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-custom {
  @apply mx-auto w-full px-8 py-10;
}

.text-p-custom {
  @apply text-xs sm:text-base 
}

.class-icons {
  @apply h-5 w-5 text-text-green
}

.class-container-icons-text {
  @apply flex items-center gap-2
}

.class-grid-layout-forms {
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3
}

.class-form-checkout-summary {
  @apply flex flex-col gap-3 xs:flex-row
} 

/* Remover setas do input number para todos os navegadores */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
